@model IEnumerable<IngredientViewModel>
@if (!Model.Any())
{
    <p class="text-muted body-header">No ingredients yet.</p>
    <div>
        <a class="btn btn-primary" asp-controller="Create" asp-action="Ingredient">
            + Add Ingredient
        </a>

    </div>
}
else
{

    <div>
        <h1 class="mb-0 body-header">Ingredients</h1>
        <a class="btn btn-view" asp-controller="Create" asp-action="Ingredient">
            + Add Ingredient
        </a>

    </div>
    <div class="row g-3">
        @foreach (IngredientViewModel ing in Model)
        {
            <div class="col-md-4 " style="aspect-ratio: 4/5; padding:2%">
                @if (!string.IsNullOrEmpty(ing.ImageUrl))
                {
                    <img src="@ing.ImageUrl" asp-append-version="true" class="img-fluid rounded" alt="@ing.Name" style="object-fit : cover; width : 100%; height : 50%">
                }
                else
                {
                    <img src="~/images/default.jpg" asp-append-version="true" class="img-fluid rounded" alt="@ing.Name" style="object-fit : cover; width : 100%; height : 50%">

                }
                <div class="info-border" style="height : 50%; margin-left:3%; margin-right:3%; position:relative">
                    <span class="body-text" style="border-bottom: 2px solid #7AE3ABFF;">@ing.Name</span>
                    <div style="text-align:center; width :  100%; display:flex; align-items:center">
                        @if (ing.Tags is null || !ing.Tags.Any(t => t.Selected == true))
                        {
                            <span class="body-text" style="font-size:1.2rem; flex:1">Tags: No tags listed</span>
                        }
                        else
                        {
                            var a = ing.Tags.Where(m => m.Selected == true).OrderBy(mi => mi.TagId).Select(mi => mi.Name);
                            var result = string.Join(", ", a);
                            <span class="body-text" style="font-size:1.2rem; flex:1">Tags: @result</span>
                        }
                    </div>
                    <div style="text-align:center; width :  100%; position:absolute; bottom:0; padding: 1rem" class="    ">
                        <form asp-controller="Catalog" asp-action="DeleteIngredient" method="post">
                            <a class="btn btn-view  col-md-3">
                                View
                            </a>
                            <a class="btn btn-edit col-md-3" asp-controller="Create" asp-action="Ingredient" asp-route-id="@ing.Id">
                                Edit
                            </a>

                            <input value="@ing.Id" type="hidden" name="id" />
                            <input value="Ingredients" type="hidden" name="PrevAction" />
                            <button type="submit" class="btn btn-delete col-md-3">Delete</button>
                        </form>
                    </div>
                </div>


            </div>
        }
    </div>
}