@model ViewTagViewModel
@if (Model.Meals is null || !Model.Meals.Any())
{
    <p class="text-muted body-header">No meals yet.</p>
}
else
{

    <div>
        <h1 class="mb-0 body-header">Meals</h1>

    </div>
    <div class="row g-3">
        @foreach (MealViewModel meal in Model.Meals)
        {
            <div class="col-md-4 " style="aspect-ratio: 4/5; padding:2%">
                @if (!string.IsNullOrEmpty(meal.ImageUrl))
                {
                    <img src="@meal.ImageUrl" asp-append-version="true" onerror="this.onerror=null;this.src='/images/default.jpg';"  class="img-fluid rounded" alt="@meal.Name" style="object-fit : cover; width : 100%; height : 50%">
                }
                else
                {
                    <img src="~/images/default.jpg" asp-append-version="true" class="img-fluid rounded" alt="@meal.Name" style="object-fit : cover; width : 100%; height : 50%">

                }
                <div class="info-border" style="height : 50%; margin-left:3%; margin-right:3%; position:relative">
                    <span class="body-text" style="border-bottom: 2px solid #7AE3ABFF;">@meal.Name</span>
                    <div style="text-align:center; width :  100%; display:flex; align-items:center">
                        @if (meal.Tags is null || !meal.Tags.Any(t => t.Selected == true))
                        {
                            <span class="body-text" style="font-size:1.2rem; flex:1">Tags: No tags listed</span>
                        }
                        else
                        {
                            var a = meal.Tags.Where(m => m.Selected == true).OrderBy(mi => mi.TagId).Select(mi => mi.Name);
                            var result = string.Join(", ", a);
                            <span class="body-text" style="font-size:1.2rem; flex:1">Tags: @result</span>
                        }
                    </div>
                    <div style="text-align:center; width :  100%; display:flex; align-items:center">
                        @if (meal.Ingredients is null || !meal.Ingredients.Any(t => t.Selected == true))
                        {
                            <span class="body-text" style="font-size:1.2rem; flex:1">Ingredients: No ingredients listed</span>
                        }
                        else
                        {
                            var a = meal.Ingredients.Where(m => m.Selected == true).OrderBy(mi => mi.IngredientId).Select(mi => mi.IngredientName);
                            var b = meal.Ingredients.Where(mi => mi.Selected == true).OrderBy(mi => mi.IngredientName).Select(mi => mi.Quantity);
                            var result = string.Join(", ", a.Zip(b, (x, y) => $"{x} ({y}g)"));
                            <span class="body-text" style="font-size:1.2rem; flex:1">Ingredients: @result</span>
                        }
                    </div>
                    <div style="position:absolute; bottom:0; left:0; right:0; padding:1rem">
                        <div class="d-flex gap-2 justify-content-between">
                        <a class="btn btn-view flex-fill mx-1 text-center" asp-controller="Catalog" asp-action="ViewTag" asp-route-id="@meal.Id">
                            View
                        </a>

                        @if (User.IsInRole("Admin"))
                        {
                            <a class="btn btn-edit flex-fill mx-1 text-center" asp-controller="Create" asp-action="Tag" asp-route-id="@meal.Id">
                                Edit
                            </a>
                            <form asp-controller="Catalog" asp-action="DeleteTag" method="post" class="flex-fill mx-1 d-flex">
                                <input value="@meal.Id" type="hidden" name="id" />
                                <button type="submit" class="btn btn-delete w-100">Delete</button>
                            </form>
                        }
                    </div>
                    </div>
                </div>


            </div>
        }
    </div>
}
@if (Model.Ingredients is null || !Model.Ingredients.Any())
{
    <p class="text-muted body-header">No ingredients yet.</p>
}
else
{

    <div>
        <h1 class="mb-0 body-header">Ingredients</h1>

    </div>
    <div class="row g-3">
        @foreach (IngredientViewModel ing in Model.Ingredients)
        {
            <div class="col-md-4 " style="aspect-ratio: 4/5; padding:2%">
                @if (!string.IsNullOrEmpty(ing.ImageUrl))
                {
                    <img src="@ing.ImageUrl" asp-append-version="true" onerror="this.onerror=null;this.src='/images/default.jpg';" class="img-fluid rounded" alt="@ing.Name" style="object-fit : cover; width : 100%; height : 50%">
                }
                else
                {
                    <img src="~/images/default.jpg" asp-append-version="true" class="img-fluid rounded" alt="@ing.Name" style="object-fit : cover; width : 100%; height : 50%">

                }
                <div class="info-border" style="height : 50%; margin-left:3%; margin-right:3%; position:relative">
                    <span class="body-text" style="border-bottom: 2px solid #7AE3ABFF;">@ing.Name</span>
                    <div style="text-align:center; width :  100%; display:flex; align-items:center">
                        @if (ing.Tags is null || !ing.Tags.Any(t => t.Selected == true))
                        {
                            <span class="body-text" style="font-size:1.2rem; flex:1">Tags: No tags listed</span>
                        }
                        else
                        {
                            var a = ing.Tags.Where(m => m.Selected == true).OrderBy(mi => mi.TagId).Select(mi => mi.Name);
                            var result = string.Join(", ", a);
                            <span class="body-text" style="font-size:1.2rem; flex:1">Tags: @result</span>
                        }
                    </div>
                    <div style="position:absolute; bottom:0; left:0; right:0; padding:1rem">
                        <div class="d-flex gap-2 justify-content-between">
                        <a class="btn btn-view flex-fill mx-1 text-center" asp-controller="Catalog" asp-action="ViewTag" asp-route-id="@ing.Id">
                            View
                        </a>

                        @if (User.IsInRole("Admin"))
                        {
                            <a class="btn btn-edit flex-fill mx-1 text-center" asp-controller="Create" asp-action="Tag" asp-route-id="@ing.Id">
                                Edit
                            </a>
                            <form asp-controller="Catalog" asp-action="DeleteTag" method="post" class="flex-fill mx-1 d-flex">
                                <input value="@ing.Id" type="hidden" name="id" />
                                <button type="submit" class="btn btn-delete w-100">Delete</button>
                            </form>
                        }
                    </div>
                    </div>
                </div>


            </div>
        }
    </div>
}