@using Microsoft.AspNetCore.Mvc.Rendering
@model CreateIngredientViewModel

@{
    ViewData["Title"] = "Create Ingredient";
}
<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>


@if (!string.IsNullOrEmpty(Model.Name))
{
    <h1 class="body-header" style="text-align: center">Edit Ingredient</h1>
}
else{
    <h1 class="body-header" style="text-align: center">Create Ingredient</h1>
}


<form asp-action="Ingredient" method="post" class="row g-3" style="justify-content:center">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="NutrientProfile.Id" />    
    <div class="col-12 col-md-3">
        <input asp-for="Name" class="form-control" placeholder="Name" />
    </div>
    <div class="col-12 col-md-3">
        <input asp-for="ImageUrl" class="form-control" placeholder="Image url" />
    </div>
    <div class="col-12 col-md-6">
        <textarea asp-for="Notes" class="form-control" placeholder="Notes regarding ingredient"></textarea>
    </div>


    <div class="col-md-4 table-container row g-3" style="justify-content: center; align-items: center">
        <h3 class="body-text" style="text-align: center">Tags</h3>
        @if (Model.TagInputs is null)
        {
            <b>Create tags beforehand in order to select them</b>
        }
        else
        {
            <table class="table col-md-9 table-hover">
                <thead>
                    <tr><th>Selected</th><th style="text-align:right; padding-right:2rem">Tag</th></tr>
                </thead>
                <tbody>
                    @for (int i=0; i < Model.TagInputs.Count(); i++)
                    {
                        <tr style="border-bottom: solid 1px #7AE3ABFF   ">
                            <td>
                                <input asp-for="@Model.TagInputs[i].Selected" />
                                <input asp-for="@Model.TagInputs[i].TagId" type="hidden" />
                            </td>
                            <td style="text-align:right; padding-right:2rem">@Model.TagInputs[i].Name</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
            
    </div>
    <div class="col-md-4 table-container row g-3" style="justify-content: center; align-items: center; max-height: 15rem">
        <h3 class="body-text" style="text-align: center">Nutrient Profile</h3>
        <table class="table table-hover">
            <thead> 
                <tr>
                    <th style="width: 33%; text-align: center">Carbohydrates</th>
                    <th style="width: 33%; text-align: center">Protein</th>
                    <th style="width: 33%; text-align: center">Fat</th>
                </tr>   
            </thead>
            <tbody>
                <tr style="text-align:center; border-bottom: solid 1px #7AE3ABFF">
                    <td><input class="input" asp-for="@Model.NutrientProfile.Carbohydrates" value="@Model.NutrientProfile.Carbohydrates"  /></td>
                    <td><input class="input" asp-for="@Model.NutrientProfile.Protein" value="@Model.NutrientProfile.Protein"/></td>
                    <td><input class="input" asp-for="@Model.NutrientProfile.Fat" value="@Model.NutrientProfile.Fat"/></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="text-align:center">
        <button type="submit" class="btn btn-edit" style="width : 100px">Save</button>
        <a class="btn btn-delete" asp-controller="Catalog" asp-action="Ingredients" style="width : 100px">Cancel</a>
    </div>
</form>
