@using Microsoft.AspNetCore.Mvc.Rendering
@model CreateIngredientViewModel

@{
    ViewData["Title"] = "Create Ingredient";
}
<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>


@if (!string.IsNullOrEmpty(Model.Name))
{
    <h1 style="text-align: center">Edit Ingredient</h1>            
}
else{
    <h1 style="text-align: center">Create Ingredient</h1>
}


<form asp-action="Ingredient" method="post" class="row g-3">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="NutrientProfile.Id" />    
    <div class="col-12 col-md-3">
        <input asp-for="Name" class="form-control" placeholder="Name" />
    </div>
    <div class="col-12 col-md-9">
        <textarea asp-for="Notes" class="form-control" placeholder="Notes regarding ingredient"></textarea>
    </div>


    <div class="col-12 col-md-2">
    </div>
    <div class="col-12 col-md-4 table-container">
        <h3 style="text-align: center">Tags</h3>
        @if (Model.TagInputs is null)
        {
            <b>Create tags beforehand in order to select them</b>
        }
        else
        {
            <table class="table table-responsive-md col-md-9 table-hover">
                <thead>
                    <tr><th style="width: 20%">Selected</th><th style="width: 40%">Tag</th></tr>
                </thead>
                <tbody>

                    @for (int i=0; i < Model.TagInputs.Count(); i++)
                    {
                        <tr>
                            <td>
                                <input asp-for="@Model.TagInputs[i].Selected" />
                                <input asp-for="@Model.TagInputs[i].TagId" type="hidden" />
                            </td>
                            <td>@Model.TagInputs[i].Name</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
            
    </div>
    <div class="col-12 col-md-4 table-container">
        <h3 style="text-align: center">Nutrient Profile</h3>
        <table class="table col-md-9 table-hover">
            <thead> 
                <tr>
                    <th style="width: 33%; text-align: center">Carbohydrates</th>
                    <th style="width: 33%; text-align: center">Protein</th>
                    <th style="width: 33%; text-align: center">Fat</th>
                </tr>   
            </thead>
            <tbody>
                <tr style="text-align:center">
                    <td><input type="number" asp-for="@Model.NutrientProfile.Carbohydrates" value="@Model.NutrientProfile.Carbohydrates"  style=" width: 33%; border: none; outline: none; text-align: center; background: none" /></td>
                    <td><input asp-for="@Model.NutrientProfile.Protein" value="@Model.NutrientProfile.Protein" style=" width: 33%; border: none; outline: none; text-align: center; background: none" /></td>
                    <td><input asp-for="@Model.NutrientProfile.Fat" value="@Model.NutrientProfile.Fat" style=" width: 33%; border: none; outline: none; text-align: center; background: none" /></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="text-align:center">
        <button type="submit" class="btn btn-success" style="width : 100px">Save</button>
        <a class="btn btn-secondary" asp-controller="Catalog" asp-action="Ingredients" style="width : 100px">Cancel</a>
    </div>
</form>
