@using Microsoft.AspNetCore.Mvc.Rendering
@model CreateMealViewModel

@{
    ViewData["Title"] = "Create Meal";
}

@if (!string.IsNullOrEmpty(Model.Name))
{
    <h1 style="text-align: center">Edit Meal</h1>
}
else
{
    <h1 style="text-align: center">Create Meal</h1>
}

<form asp-action="Meal" method="post" class="row g-3">
        <input asp-for="Id" type="hidden" /> 
    <div class="col-12 col-md-3">
        <input asp-for="Name" class="form-control" placeholder="Name" />
    </div>
    <div class="col-12 col-md-9">
        <textarea asp-for="Notes" class="form-control" placeholder="Notes regarding meal"></textarea>
    </div>

    
    <div class="col-12 col-md-2">
    </div>  
    <div class="col-12 col-md-4 table-container">
        <h3 style="text-align: center">Ingredients</h3>
        @if (Model.IngredientInputs is null)
        {
            <b>Create ingredients beforehand in order to select them</b>
        }
        else
        {
            <table class="table table-responsive-md col-md-9 table-hover">
                <thead>
                    <tr><th style="width: 20%">Selected</th><th style="width: 40%">Ingredient</th><th style="width: 40%">Quantity (g)</th></tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.IngredientInputs.Count(); i++)
                    {
                        <tr>
                            <td>
                                <input asp-for="@Model.IngredientInputs[i].Selected" />
                                <input asp-for="@Model.IngredientInputs[i].IngredientId" type="hidden" />
                            </td>
                            <td>@Model.IngredientInputs[i].IngredientName</td>
                            <td>
                                <input asp-for="@Model.IngredientInputs[i].Quantity" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    
    <div class="col-12 col-md-4 table-container">
        <h3 style="text-align: center">Tags</h3>
        @if (Model.TagInputs is null)
        {
            <b>Create tags beforehand in order to select them</b>
        }
        else
        {
            <table class="table table-responsive-md col-md-9 table-hover">
                <thead>
                    <tr><th style="width: 20%">Selected</th><th style="width: 40%">Tag</th></tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.TagInputs.Count(); i++)
                    {
                        <tr>
                            <td>
                                <input asp-for="@Model.TagInputs[i].Selected" />
                                <input asp-for="@Model.TagInputs[i].TagId" type="hidden" />
                            </td>
                            <td>@Model.TagInputs[i].Name</td>
                        </tr>
                    }
                </tbody>
            </table>   
        }
    </div>
    <div style="text-align:center">
        <button type="submit" class="btn btn-success" style="width : 100px">Save</button>
        <a class="btn btn-secondary" asp-controller="Catalog" asp-action="Meals" style="width : 100px">Cancel</a>
    </div>
</form>
