@using Vitalis.Web.ViewModels
@using Microsoft.AspNetCore.Mvc.Rendering
@model TagViewModel

@{
    ViewData["Title"] = "Create Tag";
}

@if (!string.IsNullOrEmpty(Model.Name))
{
    <h1 class="body-header"style="text-align: center">Edit Tag</h1>
}
else
{
    <h1 class="body-header" style="text-align: center">Create Tag</h1>
}
<form asp-action="Tag" method="post" class="row g-3">
    <div class="col-12 col-md-3">
        <input asp-for="@Model.Id" method="post" class="form-control" type="hidden"/>
        <input asp-for="@Model.Name" class="form-control" placeholder="Name" value="@Model.Name"/>
    </div>
    <div class="col-12 col-md-9">
        <input asp-for="@Model.ImageUrl" class="form-control" placeholder="Image Url" value="@Model.ImageUrl" />
    </div>

    <div style="text-align:center">
        <button type="submit" class="btn btn-edit   " style="width : 100px">Save</button>
        <a class="btn btn-delete" asp-controller="Catalog" asp-action="Tags" style="width : 100px">Cancel</a>
    </div>
</form>
